// media queries

@mixin mQ ($arg...) {
    @if length($arg) == 1{
        @media only screen and (min-width: nth($arg, 1)){
            @content;
        }
    }
    @if length($arg) == 2{
        @media only screen and (min-width: nth($arg, 1)) and (orientation: nth($arg, 2)){
            @content;
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin fullscreen-fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

@mixin color ($arg){
    h3{
        color: $arg;
    }
    .btn-dark{
        background: $arg;
        border: $arg;
    }

}