@import 'variables';
@import 'mixins';

html{
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    font-family: 'Lato', sans-serif;
    padding: 0;
}

.container-fluid{
    width: 100vw;
    padding: 0;
}
a.custom-logo-link img{
    width: 100%!important;
    height: auto;
}
#site-logo{
    z-index: $layer2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
}

// navigation
.sfm-navicon-button.sf_label_default{
    border-radius: 20px;
}
.sfm-nav{
    li a{
        font-weight: 300!important;
    }
}
.sfm-nav .sfm-active-class{
    a{
        color: $orange!important;
        font-weight: 900!important;
    }
}

// coming soon
.coming-soon-video{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    overflow: hidden;
    video{
        min-width: 100vw;
        min-height: 100vh;
        @include mQ (0, portrait){
            max-height: 100%;
        }
        @include mQ ($sm, landscape){
            max-width: 140%;
            max-height: auto;
        }
    }
    .layer-dark{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
    }
}
.coming-soon-container{
    margin-top: 5vh;
    color: white;
    @include mQ ($lg){
        margin-top: 20vh;
    }
    h1{
        font-size: 3em;
        font-weight: 900;
        @include mQ ($lg){
            font-size: 4em;
        }
    }
    h2{
        font-size: 1.5em;
        font-weight: 300;
    }
    hr{
        border-top: 2px solid white;
    }
    img{
        width: 125px;
        height: auto;
        margin-bottom: 20px;
        @include mQ ($md, landscape){
            position: fixed;
            top: 20px;
            left: 20px;
        }
    }
    table{
        color: white;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        
    }
    .heateorSssSharing{
        background: gray;
    }
}
.hurrytimer-timer{
    width: 100%;
    margin: 50px 0;
    text-align: center;
}
.hurrytimer-timer-block{
    display: inline-block;
    padding-right: 15px;
}
.hurrytimer-timer-digit{
    @include mQ (0, landscape){
        display: inline-block;
    }
    font-weight: 700;
    font-size: 2em;
}
.hurrytimer-timer-label{
    @include mQ (0, landscape){
        display: inline-block;
    }
    font-weight: 300;
    font-style: italic;
}
#programme-modal{
    color: black;
    th{
        color: $orange;
        font-weight: 900;
    }
}






// showroom
#appature {
    z-index: $layer1;
    @include fullscreen-fixed;
    @include flex-center;
    svg{
        width: 100vw;
        margin: auto;
        @include mQ ($lg){
            width: 40vw;
        }
    }
}
#white-hole{
    z-index: $layer3;
    @include fullscreen-fixed;
    @include flex-center;
}
.zoomOut{
    animation: zoomOut 1.5s forwards ease-in-out;
}
.straight-zoom{
    animation: straightZoom 1s forwards ease-in-out;
}

#enter-btn{
    z-index: $front;
    @include fullscreen-fixed;
    @include flex-center;
    opacity: 1;
    transition: opacity 1.5s;
}

#background{
    z-index: $back;
    @include fullscreen-fixed;
    @include flex-center;
    overflow: hidden;
    z-index: -1;
    svg{
        height: 120vh;
        position: absolute;
        top: -10vh;
    }
}

button.btn-enter {
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid black;
}

@keyframes zoomOut {
    from {
        -webkit-transform: rotate(0deg) translateZ(0) scale(1.0, 1.0);
        -ms-transform: rotate(0deg) scale (0);
        -webkit-backface-visibility: hidden;
        transform: rotate(0deg) scale (0);
        opacity: 1;
    }
    to{
        -webkit-transform: rotate(200deg) translateZ(0) scale(20.0, 15.0);
        -webkit-backface-visibility: hidden;
        -ms-transform: rotate(200deg) scale (15);
        transform:  rotate(200deg) scale (15);
        opacity: 0;
    }
}

@keyframes straightZoom{
    from{
        -webkit-transform: scale(0);
        transform: scale (0);
    }
    to{
        -webkit-transform: scale(15);
        transform: scale (15);
    }
}
