@import 'variables';
@import 'mixins';
@import 'coming-soon';
@import 'showroom';
@import 'all-productions';
@import 'artworks';
@import 'comments';

html{
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    font-family: 'Lato', sans-serif;
    padding: 0;
}

.container-fluid{
    width: 100vw;
    padding: 0;
   
}
a.custom-logo-link img{
    width: 100%!important;
    height: auto;
}
#site-logo{
    z-index: 10000;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 100vw;
}

// all page elements
.title{
    margin-top: 100px;
    margin-bottom: 50px;
}
.bg-gray{
    background: lightgray;
}
.padded-side{
    padding: 30px;
    @include mQ ($lg){
        padding: 0 100px;
    }
    @include mQ ($xl, landscape){
        padding: 0 300px;
    }
}



iframe.ICA-video{
    width: 100%;
    height: 70vh;
    background: rgba(0, 0, 0, 0);
    border: none;
}

#twitch-embed{
    width: 100%;
    height: 200px;
}



// video gallery
.ytp-cued-thumbnail-overlay{
    width: 100%;
}
#origincode_videogallery{
    background: none!important;
    box-shadow: none!important;
    border: none!important;
}
.origincode_big_li{
    border: none!important;
    border-radius: 0!important;
}

.content-about .row{
    &:nth-child(2n) {
        background: lightgray;
    }
}

// artist videos
iframe.short-video{
    width: 100%;
    padding: 0;
    margin-top: 10px;
    height: auto;
    background: black;
}

// artist backbuttons
.back-buttons{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

// forms

.form-group{
    padding: 0 5px!important;
    margin: 0!important;
}
input[type="text"], textarea, input[type='email']{
    border: 1px solid lightgray!important;
    border-radius: 3px!important;
    padding: 5px;
    width: 100%;
}
input[type="submit"]{
    margin: 10px;
}

// buttons
.btn{
    border-radius: 50px;
}
.btn-dark{
    background: black;
}
.social{
    width: 40px;
    height: 40px;
    margin: 0 5px;
    transition: background border 0.5s;
    @include flex-center;
    img{
        height: 20px;
    }
    &:hover{
        background: $orange;
        border: $orange;
    }
}


// text
h1{
    font-size: 2em;
    font-weight: 300;
    text-transform: uppercase;
    @include mQ ($lg){
        font-size: 3em;
    }
}
h2{
    font-weight: 300;
}

// footer
footer{
    hr{
        border-top: 1px solid white;
    }
}

#menu-footer-menu{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        display: inline;
        a{
            color: white;
            transition: color 0.5s;
            &:hover{
                color: $orange;
                text-decoration: none;
            }
        }
    }
    li:not(:last-child){ 
        &::after{
            content: ' | '
        }
      }
}

.bg-danger{
    background: $orange!important;
}


// navigation
.sfm-navicon-button.sf_label_default{
    border-radius: 20px;
}
.sfm-nav{
    li a{
        font-weight: 300!important;
    }
}
.sfm-nav .sfm-active-class{
    a{
        color: $orange!important;
        font-weight: 900!important;
    }
}
.sfm-rollback .sfm-color1 .sfm-theme-none .sfm-label-visible .sfm-label-metro  {
    max-height: 100vh;
}

.videoLink{
    &:hover{
        cursor: pointer;
    }
    
}

.card.videoLink{
    transition: all 0.5s;
    &:hover{
        h2{
            font-weight: 400;
        }
        transform: scale(1.01);
    }
}
