// colours
$orange: #c01e2d;


// highlight colours


// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// z-indexes
$front: 2000;
$layer1: 1000;
$layer2: 200;
$layer3: 150;
$layer4: 140;
$back: -100;