.page {
  font-family: "Oswald", sans-serif;
}

#overlay {
  background: #1a1a1a;
  padding: 120px 20px;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
}
#overlay .row {
  min-height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  color: white;
}

.tabs {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 800;
}
.tabs img {
  display: block;
  width: 30px;
  padding-top: 2px;
}

.desk {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
}
.desk h1 {
  font-size: 3em;
}
.desk h3 {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}
.desk p {
  font-weight: 300;
  font-size: 1em;
}
.desk .col-12 {
  min-height: 100vh;
}
.desk .options {
  background: #333333;
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 150px !important;
}
.desk .map {
  background: #1a1a1a;
  display: flex;
}
@media only screen and (orientation: portrait) {
  .desk .map {
    position: fixed;
    top: 0;
    right: 0;
  }
}
.desk .map svg {
  width: 90%;
}
.desk .events {
  background: #1a1a1a;
  display: flex;
  color: white;
  padding-bottom: 150px !important;
}
.desk .card {
  width: 90%;
  display: inline-block;
  border: 1px solid #333333;
  background: #1a1a1a;
  color: white;
  margin: 10px 2%;
}
@media only screen and (orientation: landscape) {
  .desk .card {
    width: 30%;
  }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .desk .card {
    width: 30%;
  }
}
@media only screen and (min-width: 768px) and (orientation: landscape) {
  .desk .card {
    width: 90%;
  }
}
@media only screen and (min-width: 1200px) and (orientation: landscape) {
  .desk .card {
    width: 50%;
  }
}
.desk .card .btn-danger {
  background: #f7619e;
  width: 100%;
  border-radius: 0;
}
.desk .dotted {
  animation: stroked 2s forwards;
}
.desk .undotted {
  stroke-dasharray: 0 10 !important;
}
@keyframes stroked {
  from {
    stroke-dasharray: 0 10;
  }
  to {
    stroke-dasharray: 20 10;
  }
}
.desk .pulsing {
  fill: red;
  stroke: white;
}
.desk .large-icon {
  width: 20%;
  background: lighten #333333, 5%;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  margin-right: 30px;
}
.desk .large-icon i {
  font-size: 4em;
}
.desk .heading {
  width: 100%;
  background: #808080;
  padding: 7px 5px 2px 5px;
  display: flex;
  align-items: center;
}
.desk .avail-destinations {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: auto;
}
.desk .avail-destinations .item {
  transition: all 0.5s ease;
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.desk .avail-destinations .item:hover {
  background: #1a1a1a;
  border: 1px solid #808080;
  cursor: pointer;
}
.desk .avail-destinations .checked {
  background: #1a1a1a;
  border: 1px solid #808080;
}
.desk .avail-options .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px 0 0;
  transition: all 0.2s ease;
}
.desk .avail-options .icon:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.desk .avail-options .icon i {
  font-size: 1.2em;
}
.desk .avail-options .air {
  background: #2aaebc;
}
.desk .avail-options .air:hover {
  background: #44c7d5;
}
.desk .avail-options .road {
  background: #ed1c24;
}
.desk .avail-options .road:hover {
  background: #f14b52;
}
.desk .avail-options .train {
  background: #f7931e;
}
.desk .avail-options .train:hover {
  background: #f9ab4f;
}
.desk .avail-options .foot {
  background: #39b54a;
}
.desk .avail-options .foot:hover {
  background: #57ca67;
}
.desk .avail-options .bicycle {
  background: #f7619e;
}
.desk .avail-options .bicycle:hover {
  background: #f992bc;
}
.desk .confirmation {
  background: #1a1a1a;
  padding: 20px 50px;
}
.desk .confirmation ul {
  list-style: none;
  padding: 0;
}
.desk .confirmation ul li {
  display: inline-block;
  padding-right: 20px;
}
.desk .confirmation ul li span {
  font-weight: 700;
  font-size: 1.2em;
}

#message-board {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #1a1a1a;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
#message-board .text-holder {
  width: 90vw;
  height: 100px;
  padding: 10px 0;
  overflow: hidden;
  border: 10px solid #333333;
  color: white;
  font-family: "VT323", monospace;
  font-size: 40px;
  text-transform: uppercase;
  background: black;
}
#message-board .text-holder #screen-text {
  width: 100vw;
  transform: translateX(100vw);
}

.moving-text {
  animation: scroll 140s infinite linear;
}

@keyframes scroll {
  from {
    width: calc(765*26px);
    transform: translateX(100vw);
  }
  to {
    width: calc(765*26px);
    transform: translateX(calc(-765*20px));
  }
}
.popup-window {
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
}
.popup-window .iframe-outer {
  display: flex;
  align-content: center;
  justify-content: center;
}
@media only screen and (orientation: portrait) {
  .popup-window .iframe-outer {
    max-height: 90vh;
  }
}
@media only screen and (min-width: 1200px) {
  .popup-window .iframe-outer {
    max-height: 90vh;
  }
}
.popup-window #iframe-placeholder {
  width: 100vw;
  z-index: 0;
}
.popup-window #skip {
  position: fixed;
  bottom: 20px;
  z-index: 100;
}

.fast-travel {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fast-travel .row {
  width: 100%;
  display: inline-block;
}
.fast-travel .ticket {
  background: #c5c5c5;
  padding: 50px;
  border-radius: 10px;
}
.fast-travel button {
  font-size: 2em;
}

.soundcloud {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
