html{
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    }
#c {
    width: 100vw;
    height: 100vh;
    display: block;
}

#overlay{
    width: 100vw;
    height: 100vh;
    color: white;
    overflow-y: scroll;
    padding: 100px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
}
#editor {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
}
#controls {
    background: #001414;
    color: #a2fde8;
    padding: 50px 20px;
    overflow-y: scroll;
    max-height: 100vh;
    .btn-link{
        color: #a2fde8;
    }
    .btn-link-view{
        padding: 0;
        text-decoration: underline;
    }
    .hurrytimer-timer{
        width: auto;
        margin: 0;
        text-align: left;
        color: red!important;
    }
    .hurrytimer-timer-block{
        display: inline-block;
        padding-right: 0;
    }
    .hurrytimer-timer-digit{
        font-weight: 700;
        font-size: 1em;
    }
    .hurrytimer-timer-label{
        font-weight: 200;
        padding: 0 5px;
        font-style: italic;
    }
    
}
#c {
    width: 100%;
    height: 100%;
    display: block;
    background: black;
}
.gutter {
    background-color: lighten(#001414, 10%);
}
.gutter.gutter-horizontal {
    width: 10px;
    cursor: ew-resize;
    background: lighten(#001414, 10%);
}

canvas{
    width: 100%;
    height: 100%;
    display: block;
}
.labels{
    position: absolute;  /* let us position ourself inside the container */
    left: 0;             /* make our position the top left of the container */
    top: 0;
    button{
        cursor: pointer;
        left: 0;
        top: 0;
    }
}



.popupWindow{
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 1s ease;
    display: flex;
    overflow-y: scroll;
    padding: 200px 0;

    .hurrytimer-timer{
        width: auto;
        margin: 0;
        text-align: left;
        color: red!important;
    }
    .hurrytimer-timer-block{
        display: inline-block;
        padding-right: 0;
    }
    .hurrytimer-timer-digit{
        font-weight: 700;
        font-size: 1.5em;
    }
    .hurrytimer-timer-label{
        font-weight: 200;
        padding: 0 5px;
        font-style: italic;
    }

    .container{
        background: #001414;
        border: #a2fde8 1px solid;
        border-radius: 5px;
        padding: 100px 50px 50px 50px;
    }
}
.appear{
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: all 1s;
    z-index: 1000;
}
.close-row{
    display: flex;
    justify-content: center;
}


.card{
    background: none;
    border: none;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }





